*{
    padding: 0;
    margin: 0;
    font-family:'roboto';
    
}

body{
    background-color: #ffffff
}


.console{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color:#ffffff;
    z-index: 95;
    box-shadow: 2px 0px 2px   #888888;
}


.menulateral{
    position: fixed;
    width:85px;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 8vh;
    box-shadow: 1px 0px 1px #d4d4d4;
    z-index: 92;
    transition: 0.8s ease;
}

.menu{
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.menu:hover{
    background-color:#ececec; 
    transition: 0.3s ease-in-out;
}

.menu span{
    flex: 1;
    min-width: 20px;
    max-width: 40px;
    padding-left: 30px; ;
}

.menu a{
    text-decoration: none;
    color: black;
}
.txt{
   display: none;
}

.expande{
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 8vh;
    box-shadow: 1px 0px 1px #d4d4d4;
    z-index: 92;
    transition: 0.3s ease;
  
    
}

.expande .txt{
    display: flex;
    flex: 3;
    padding-left: 1px;
    transition: 0.1s ease;
}



.logo {
    padding-left: 35px;
    padding-top: 05px;

}

.logo H1{
    font-family: 'Bungee Shade';
    font-style: italic;
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-align: end;
}



.user-icon {
    display: flex;
    align-items: center;
    margin-left: 87.3vw;
    font-size: 20px;
    color: #000; 
    cursor: pointer;
}





.search-bar{
    display: flex;
    align-items:center;
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 2px   #888888;
}


.d-flex{
    position: fixed;
    right: 2.5vw;
}



.d-flex input[type="search"] {
    width: 60vw;
    height: 3vh;
    border: none;
    border-bottom: 1px solid #afafaf;
    outline: none;
   }
   

.d-flex button {
    border: none;
    background-color: #ffffff;   
}


.log span{
    font-size: 22px;
    position: fixed;
    top: 9.2vh;
    left: 5vw;
}

.log p{
 vertical-align: middle;
 position: fixed;
 top: 9.5vh;
 left:6vw;
 font-size: 15px;
}

.central{
position: absolute;
width: 80vw;
height:20vh;
top: 20vh;
left: 5vw;
background-color: #ffffff;
z-index: 90;
transition: 0.8s eaase;
}

.dashboard{
    margin-bottom: 2vh;
    margin-top: -5vh;
    font-size: 23px;
    
}
.central-grid {
    display: flex;
    grid-template-columns: repeat(4, 1fr); /* Duas colunas iguais */
    grid-gap:20px; /* Espaçamento entre as células */
    background-color: rgb(255, 255, 255);
    flex-direction: row;
   
    
}

.central-grid p[class="box-title"] {
    margin-top: 2vh;
    margin-left: 2vh;
    
}

.box {
    width: 22.8vw;
    height: 20vh;
    background-color:  #ffffff;
    box-shadow: 0.5px 0.5px 5px 2px rgba(129, 129, 129, 0.3);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    display: flex;
    
}


.central-grid a{
    text-decoration: none;
    color: black;
    
}


.cadastro{
    width: 80vw;
    height: 60vh;
    position: relative;
    top: 1vh;
    left: 25vw;
}