*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    
}

body{
    background-color: #ffffff
}


.console{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color:#ffffff;
    z-index: 95;
    box-shadow: 2px 0px 2px   #888888;
}

.menulateral{
    position: fixed;
    width:85px;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 8vh;
    box-shadow: 1px 0px 1px #d4d4d4;
    z-index: 92;
    transition: 0.8s ease;
}

.menu{
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.menu:hover{
    background-color:#ececec; 
    transition: 0.3s ease-in-out;
}

.menu span{
    flex: 1;
    min-width: 20px;
    max-width: 40px;
    padding-left: 30px; ;
}

.menu a{
    text-decoration: none;
    color: black;
}
.txt{
   display: none;
}

.expande{
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 8vh;
    box-shadow: 1px 0px 1px #d4d4d4;
    z-index: 92;
    transition: 0.3s ease;
  
    
}

.expande .txt{
    display: flex;
    flex: 3;
    padding-left: 1px;
    transition: 0.1s ease;
}


.logo {
    margin-left: 2%;
    margin-top: 0.1%;
    
}

.logo H1{
    font-family: 'Bungee Shade';
    font-style: italic;
    color:rgb(0, 0, 0);
    font-size: 25px;
}

.user-icon {
   position: fixed;
   top: 2%;
   right: 2%;
}


.search-bar{
    display: flex;
    align-items:center;
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 2px   #888888;
}

.d-flex{
    position: fixed;
    right: 2.5vw;
}

.d-flex input[type="search"] {
 width: 60vw;
 height: 3vh;
 border: none;
 border-bottom: 1px solid #afafaf;
 outline: none;
}

.d-flex button {
    border: none;
    background-color: #ffffff;   
}


.log span{
    font-size: 22px;
    position: fixed;
    top: 9.2vh;
    left: 7%;
}

.log p{
 vertical-align: middle;
 position: fixed;
 top: 9.5vh;
 left:8.5%;
 font-size: 15px;
}

.central{
    position: absolute;
    width: 90%;
    height:100%;
    top: 20%;
    left: 7%;
    right: 7%;
    background-color: #ffffff;
    z-index: 90;
    transition: 0.8s eaase;
    }
    



.central-grid {
    display: grid;
    grid-template-columns: repeat(4,2fr); 
    grid-gap: 10px; 
    
   
}


.central-grid p[class="box-title"] {
    margin-top: 3vh;
    margin-left: 4vh;   
    color: white;
}



.box {
    display: flex;
    width: 22vw;
    height: 12vh;
    background-color: black;
    color: white;
}

#quantidadeProdutos {
    margin-top: 12%;
    margin-right:1vw;
    margin-left: -2vw;
    font-size: 22px;
}

#valorTotalItens {
    margin-top: 12%;
    margin-right:1vw;
    margin-left: 5vw;
    font-size: 22px;
    
}


#lucroBruto{ 
    margin-top: 12%;
    margin-right:1vw;
    margin-left: 5vw;
    font-size: 22px;
}


.central-grid a{
    text-decoration: none;
    color: black;
    
}


.cadastro{
    width: 80vw;
    height: 60vh;
    position: relative;
    top: 1vh;
    left: 25vw;
}

.down-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
    margin-top: 4vh;
    
    
    
}

.box-canva{
   
    height: 57vh;
    border: 1px solid whitesmoke;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1); 
   
}

.box-canva2{
     
    
    border: 1px solid whitesmoke;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);  
}


#myChart{
    width: 90%;
    margin:0 auto;
    margin-top: 3vh;


}
